.leaflet-tangram-languageselector-container {
    width: 26px;
    height: 26px;
    background-color: white;
}

.leaflet-tangram-languageselector-selector {
    width: 21px;
    height: 26px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    text-overflow: '';
    text-indent: 5px;
    font-size: 13px;
    font-weight: 600;
}